{{ define "main" }}
	{{ if ne .Type "river"}}
	<article class="post h-entry">
		<header>
			<div class="p-name">
            <h1>{{ .Title }}</h1>
            </div>
        </header>
        <div class="content e-content">
            {{ .Content }}
        </div>
        {{ partial "articleInfoFull.html" . }}
    </article>
    
    {{ partial "nav_posts.html" . }}
    
    {{ else }}
    <article class="post h-entry">
        <div class="content e-content p-name">
            {{ .Content }}
        </div>

        {{ partial "articleInfoFull.html" . }}
    </article>
    
    {{ partial "nav_river.html" . }}
    
    {{ end }}
    
    <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>    
{{ end }}
