{{ if or ( .Paginator.HasPrev ) ( .Paginator.HasNext ) }}
	{{ $toNewPostMessage := i18n "toNewPosts" | humanize }}
	{{ $toOldPostMessage := i18n "toOldPosts" | humanize }}
  
    <div class="pagination">
    <div class="left pagination-item {{ if not .Paginator.HasPrev }}disabled{{ end }}">
            
	{{ if .Paginator.HasPrev }}
	<a href="{{ .Paginator.Prev.URL | absURL }}">{{ $toNewPostMessage }}</a>
    {{ end }}
    </div>
    
    <div class="right pagination-item {{ if not .Paginator.HasNext }}disabled{{ end }}">
    {{ if .Paginator.HasNext }}
	<a href="{{ .Paginator.Next.URL | absURL }}">{{ $toOldPostMessage }}</a>
    {{ end }}
    </div>
  </div>
{{ end }}
